body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: white;
    margin-top: 30px;
}

#content-wrapper{
	    text-align: center;
}

#submit{
	margin-top: 30px;
}

label{
	color: black;
}